body{
    font-family:"Arial", serif;
    font-size:18px;
    margin:0 auto;
}

.nav-container{
    padding: 5px;
    margin: 0 auto;
    text-align:center;
}

.navbar{
    background-color: grey;
}

.nav-link{
    color:lightgrey !important;
}

.nav-link:hover{
    color:white !important;
}

a{
    font-weight:bold;
}

h1{
    text-align:center;
    margin-left: 15px;
    margin-right: 15px;
}

h2{
    text-align:center;
    margin-left: 15px;
    margin-right: 15px;
}

