<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontakt os!</title>
    <link href="stylesheet.css" rel="stylesheet">
    <link href="bootstrap.css" rel="stylesheet">
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            const copenhagen = { lat: 55.68657636113363, lng: 12.551303413112029 };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: copenhagen,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: copenhagen,
                map: map,
            });
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-margin">
        <div class="nav-container col-lg-12">
            <ul class="navbar-nav">
                <li class="col-lg">
                    <a href="/" class="nav-link"><img  class="chicken" src="logo.png" alt="logo"></a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="/">Forside</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="foodplan">Find opskrift</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="didyouknow">Vidste du?</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="yourhelp">Hvad kan du gøre?</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link currentpage" href="contact">Kontakt os</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 style="margin-bottom: 1%"><span>Kontakt os!</span></h1>
    <!--The div element for the map -->
    <div id="map" class="col-md"></div>
    <br>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 center">
            <h3 class="text-white">Kontakt os!</h3>
            <br>
            <h5 class="bold text-white">Adresse: </h5><p class="text-white">Guldbergsgade 29N, 2200 København</p>
            <h5 class="bold text-white">Telefon: </h5><p class="text-white">+45 46460000</p>
            <h5 class="bold text-white">Email: </h5><p class="text-white">kea@kea.dk</p>
        </div>
        <form action="mailto: clbo@kea.dk" class="col-md-5 center text-white">
            <h3 style="text-align:center">Brug for hjælp? Send os en mail!</h3>
            <br>
            <input type="text" name="name" placeholder="Your name">
            <br><br>
            <input type="email" name="email" placeholder="Email">
            <br><br>
            <textarea rows="6" cols="50" name="message" placeholder="Message"></textarea>
            <br><br>
            <input type="submit" value="Click for send request">
        </form>
        <div class="col-md-1"></div>

    </div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk06Txsn-2xTcPx9mOWJt2IJoDfbKNZOQ&callback=initMap&libraries=&v=weekly"
            async
    ></script>
</body>
<footer></footer>
</html>