<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/stylesheet.css">
<head>
    <meta charset="UTF-8">
    <title>Vidste du?</title>
</head>
<body>
<h1>Vidste du?</h1>
<li>
    <p>Hver dag bliver der smidt 2000 tons mad ud, i hele Danmark det svare til 730 tusind ton skrald om året, og for at sætte det i perspektiv så vejer mærsk´s største skib "Emma" 157 tusind ton,
        så det ville sige vi smider cirka 4,5 container skibe ud om året.<br> En genemsnitlig dansker spiser omkring 52 kg årlig, så for alt det mad vi smider ud
    kunne vi give mad til omkring 1/4 del af hele den danske befolkning</p>
</li>
</body>
</html>