<!DOCTYPE html>
<html lang="en">
<link href="stylesheet.css" rel="stylesheet">
<link href="bootstrap.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>Vidste du?</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-margin">
        <div class="nav-container col-lg-12">
            <ul class="navbar-nav">
                <li class="col-lg">
                    <a href="/" class="nav-link"><img  class="chicken" src="logo.png" alt="logo"></a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="/">Forside</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="foodplan">Find opskrift</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link currentpage" href="didyouknow">Vidste du?</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="yourhelp">Hvad kan du gøre?</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="contact">Kontakt os</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1><span>Her er nogle ting du måske ikke vidste!</span></h1>
    <br>
    <ul style=float:left class="col-md-8 nolist">
        <li>
            <p class="textBox">Hver dag bliver der smidt 2000 tons mad ud, i hele Danmark det svare til 730 tusind ton
                skrald om året, og for at sætte det i perspektiv så vejer mærsk´s største skib
                "Emma" 157 tusind ton, så det ville sige vi smider cirka 4,5 container skibe ud om året.
            </p>
        </li>
        <li>
            <p class="textBox">
                Madspild i Julen:
                I december smider danske husholdninger mad ud for 1,1 milliarder kr. I december køber en familie med 2
                voksne og børn mad for 4.835 kr., hvoraf der ryger mad i skraldespanden for 676 kr.
            </p>
        </li>
        <li>
            <p class="textBox">
            Årligt madspild i Danmark, estimat i %:<br>
            Husholdningerne - 36%<br>
            Detailhandlen - 23%<br>
            Fødevareindustrien - 19%<br>
            Primærproduktionen - 14%<br>
            Institutioner og storkøkkener - 4%<br>
            Hoteller og restauranter - 4%
            </p>
        </li>
        <li>
            <p class="textBox">Madspild koster danske husholdninger 13,5 milliarder kroner om året inkl. moms og afgifter.</p>
        </li>
        <li>
            <p class="textBox">En genemsnitlig dansker spiser omkring 52 kg årlig, så for alt det mad vi smider ud
                kunne vi give mad til omkring 1/4 del af hele den danske befolkning
            </p>
        </li>
        <li>
            <p class="textBox"> Hjemmekompostering kan potentielt redde op til 150 kilo madspild per husstand om året.</p>
        </li>
        <li>
            <p class="textBox">
                På en gennemsnitlig uge bliver der ifølge Landbrug & Fødevarers estimat smidt mad ud i Danmark for 225 mio. kr.
            </p>
        </li>
        <li>
            <p class="textBox">
            Årligt madspild per person i forhold til husstandens størrelse:
            Husstand med 1 person: 98,8 kilo
            Husstand med 2 personer: 65 kilo
            Husstand med 3 personer: 67,6 kilo
            Husstand med 4 personer: 57,2 kilo
            Husstand med 5 personer: 46,8 kilo
            Husstand med 6 personer og derudover: 52 kilo
            </p>
        </li>
        <li>
            <p class="textBox">
            Det er bedre for miljøet at have emballage på råvarerne, så de holder sig friske længere, end det er
            at undlade emballagen og så ende med at smide fordærvede råvarer ud. Hvis madvarerne ikke pakkes godt nok
            ind, fører det til mere spild, som ofte har en endnu større negativ indvirkning på miljøet, end emballagen har.
            </p>
        </li>
        <li>
            <p class="textBox"> 30% af de adspurgte danskere peger på køleskabet, og at de ikke får fundet
            de ældste fødevarer og brugt dem først, som det største problem for at undgå madspild. Samtidig
            svarer 74% af forbrugerne at den typiske årsag til, at de er nødt til at smide mad ud, er at »maden har
            overskredet holdbarhedsdatoen eller er blevet for gammel«.
            </p>
        </li>
        <li>
            <p class="textBox"> Den samlede mængde dagrenovation i Danmark er 1,1 mio. ton om året. Heraf udgør
                madspild - dvs. mad, der kunne være spist - 260.942 ton. Det svarer til næsten en fjerdedel af al affald.
            </p>
        </li>
        <li>
            <p class="textBox"> Størrelse af tallerkener har også en påvirkning på madspild: Ved mindre størrelse tallerkener
            kan madspild undgås med hele 26%.
            </p>
        </li>
        <li>
            <p class="textBox"> Kampagner mod madspild virker. Pga. kampagner mod madspild har de engelske husstande på
            de seneste fem år mindsket madspild med 21% eller 13. mia. Britiske Pund.
            </p>
        </li>
    </ul>
    <img style="float: right"; class="col-md-4" src="Statistik.png" alt="statistik1">
    <p>ㅤ</p>
    <img style="float: right"; class="col-md-4" src="statistik2.png" alt="statistik2">
    <p>ㅤ</p>
    <img style="float: right"; class="col-md-4" src="statistik3.png" alt="statistik2">
</body>
</html>