<!DOCTYPE html>
<html lang="en">
<link href="stylesheet.css" rel="stylesheet">
<link href="bootstrap.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-margin">
        <div class="nav-container col-lg-12">
            <ul class="navbar-nav">
                <li class="col-lg">
                    <a href="/" class="nav-link"><img  class="chicken" src="logo.png" alt="logo"></a>
                </li>
                <li class="col-lg">
                    <a class="nav-link currentpage" href="/">Forside</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="foodplan">Madplan</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="didyouknow">Vidste du?</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="yourhelp">Hvad kan du gøre?</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="contact">Kontakt os</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1><span>Velkommen til To Good To Leave!</span></h1>
    <h2><span>Her kan du lære om hvor meget madspild der egentligt forekommer hvert eneste år, samt finde ud af hvordan du kan hjælpe med at forhindre madspild!</span></h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/foodplan">
                    <img src="foodplan.jpg" width="350px" height="225px" alt="">
                </a>
                <h4 class="bold center">Madplan</h4>
            </div>
            <div class="col-md-4">
                <a href="/didyouknow">
                    <img src="foodfacts.jpg" width="350px" height="225px" alt="">
                </a>
                <h4 class="bold center">Mad Facts (Vidste du?)</h4>
            </div>
            <div class="col-md-4">
                <a href="/yourhelp">
                    <img src="yourhelp.jpg" width="350px" height="225px" alt="">
                </a>
                <h4 class="bold center">Hvad kan du gøre?</h4>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <iframe width="750" height="450" src="https://www.youtube.com/embed/VIuCtZOMJXI" title="YouTube video player" frameborder="1" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

</body>
</html>