<!DOCTYPE html>
<html lang="en">
<link href="stylesheet.css" rel="stylesheet">
<link href="bootstrap.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="nav-container col-lg-12">
            <ul class="navbar-nav">
                <li class="col-lg-4">
                    <a class="nav-link" href="foodplan">Madplan</a>
                </li>
                <li class="col-lg-4">
                    <a class="nav-link" href="didyouknow">Vidste du?</a>
                </li>
                <li class="col-lg-4">
                    <a class="nav-link" href="yourhelp">Hvad kan du gøre?</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 style="margin-top:15px;">Velkommen til (Indsæt navn her)!</h1>
    <h2>Her kan du lære om hvor meget madspild der egentligt forekommer hvert eneste år, samt finde ud af hvordan du kan hjælpe med at forhindre madspild!</h2>
</body>
</html>