<!DOCTYPE html>
<html lang="en">
<link href="stylesheet.css" rel="stylesheet">
<link href="bootstrap.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Hvad kan du gøre?</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-margin">
        <div class="nav-container col-lg-12">
            <ul class="navbar-nav">
                <li class="col-lg">
                    <a href="/" class="nav-link"><img  class="chicken" src="logo.png" alt="logo"></a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="/">Forside</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="foodplan">Find opskrift</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="didyouknow">Vidste du?</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link currentpage" href="yourhelp">Hvad kan du gøre?</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="contact">Kontakt os</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>Hvordan forhindre man madspil?</h1>
    <h2>Her er 10 af vores egne tips der måske kan hjælpe jer i kampen mod madspil</h2>
    <h3 class="textTricks">7 tips and tricks</h3>

    <div class="textList">
        <ol>
            <li>Først og fremest kan du lade værd med at smide det ud.</li>
            <li>Sørg for at planlægge din mad efter der er spist aftensmad. På den måde kan du se hvad der er tilbage og lave noget det kan bruges til dagen efter.</li>
            <li>Fryse sine rester ned.</li>
            <li>Aflevere maden til de hjemløse.</li>
            <li>Giv lidt mad til din nabo</li>
            <li>Eventuelet kan man også experimentere lidt med sin madlavning ud fra de madrester der er tilbage</li>
            <li>Hvis du har salat rester osv tilbage, kan du give det til marsvin/kaniner hvis du har disse kæledyr</li>
        </ol>
    </div>

    <div class="split">
        <h3>Herunder kan du se en video med 6 gode tips lavet i samarbejde med Arla</h3>
    </div>
        <iframe class="video" width="750" height="450" src="https://www.youtube.com/embed/1Kxii9iZv5g" title="YouTube video player" frameborder="1" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
<footer></footer>
</html>