<!DOCTYPE html>
<html lang="en">
<link href="stylesheet.css" rel="stylesheet">
<link href="bootstrap.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Hvad kan du gøre?</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-margin">
        <div class="nav-container col-lg-12">
            <ul class="navbar-nav">
                <li class="col-lg">
                    <a href="/" class="nav-link"><img  class="chicken" src="logo.png" alt="logo"></a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="/">Forside</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="foodplan">Find opskrift</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="didyouknow">Vidste du?</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link currentpage" href="yourhelp">Hvad kan du gøre?</a>
                </li>
                <li class="col-lg">
                    <a class="nav-link" href="contact">Kontakt os</a>
                </li>
            </ul>
        </div>
    </nav>

    <iframe width="750" height="450" src="https://www.youtube.com/embed/1Kxii9iZv5g" title="YouTube video player" frameborder="1" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>
</html>